@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    @apply m-0 p-0 box-border font-inter;
  }

  main {
    @apply flex flex-col items-center gap-y-12 p-12;
  }

  h1 {
    @apply w-full m-auto text-5xl font-bold pt-10;
  }

  ul {
    @apply list-none;
  }

  input[type='search']::-webkit-search-decoration,
  input[type='search']::-webkit-search-cancel-button,
  input[type='search']::-webkit-search-results-button,
  input[type='search']::-webkit-search-results-decoration {
    @apply hidden;
  }

  input[type='number']::-webkit-outer-spin-button,
  input[type='number']::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
}

.card {
  @apply grid grid-rows-card h-card border-2 border-black border-solid 
  rounded-3xl overflow-hidden;
}

.card--webkit-scrollbar {
  display: none;
}

.card.min {
  @apply grid-rows-card-min max-h-56 cursor-pointer;
}

.card.max {
  @apply absolute left-0 right-0 z-10 grid-cols-card-max grid-rows-none
  max-h-600px max-w-1000px m-auto cursor-default 
  after:content-[''] after:fixed after:left-0 after:top-0 
  after:z-negative after:w-screen after:h-screen after:bg-overlay;
}

.card-btn {
  @apply flex items-center justify-center gap-x-1.5 w-20 h-8
  rounded-lg cursor-pointer border border-black border-solid
  opacity-70 hover:scale-110;
}

.card-btn.clicked {
  @apply border border-solid border-gray-300 opacity-100 text-gray-300;
}

.form {
  @apply flex justify-center flex-wrap items-center gap-x-10 gap-y-5;
}

.form .error {
  outline: 1px solid red;
}

fieldset {
  @apply relative flex flex-col items-center gap-y-2.5 p-1 border-none;
}

fieldset span {
  @apply absolute -bottom-4 text-xs text-red-600;
}

fieldset div {
  @apply flex gap-x-2.5 items-center;
}

fieldset input,
fieldset textarea {
  @apply w-40 max-w-xs h-10 px-2.5 border border-solid border-gray-500 text-right rounded-lg hover:scale-105;
}
