.nav {
  width: 100%;
  padding: 30px 0;

  background-color: #f5f5f5;

  &__list {
    display: flex;
    justify-content: center;
    column-gap: 60px;
  }

  &__item {
    transition: all ease 0.3s;
    a {
      text-decoration: none;
      color: #000;
      font-weight: 600;
      opacity: 0.8;

      &.active {
        scale: 1.05;
        font-weight: 700;
        opacity: 1;
        text-decoration: underline;
      }
    }

    &:hover {
      scale: 1.1;
    }
  }
}

h1 {
  width: 100%;
  margin: auto;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 50px;
  padding: 50px;
}

.search {
  position: relative;

  &__btn {
    cursor: pointer;
  }

  &__icon {
    position: absolute;
    left: 10px;
    top: calc(50% - 12px / 2);
    width: 12px;
  }

  &__input {
    width: 200px;
    height: 30px;
    padding: 10px;
    border: 1px solid #a5a5a5;
    border-radius: 8px;
    text-align: right;
  }
}

.cards {
  display: grid;
  grid-template-columns: repeat(3, 300px);
  gap: 30px;
  justify-content: center;
  width: 100%;
}

.card {
  display: grid;
  grid-template-rows: 40% 1fr;
  border: 2px solid black;
  border-radius: 20px;
  background-color: #f5f5f5;
  overflow: hidden;

  &__image-container {
    overflow: hidden;
  }

  &__image {
    width: 100%;
    height: 100%;
    object-position: center center;
    object-fit: cover;
    overflow: hidden;

    &:hover {
      transform: scale(1.1);
    }
  }

  &__content {
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 10px;
    padding: 20px;
  }

  &__title {
    max-width: 100%;
    font-size: 20px;
    font-weight: 600;
  }

  &__price {
    font-size: 16px;
    font-weight: 500;
  }

  &__description {
    max-width: 100%;
    max-height: 100px;
    overflow-y: scroll;

    font-size: 14px;
    &::-webkit-scrollbar {
      display: none;
    }
  }

  &__btns {
    justify-self: center;
    align-self: end;
    display: flex;
    column-gap: 10px;
  }

  &__btn {
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 6px;
    width: 80px;
    height: 30px;
    border-radius: 8px;
    border: none;
    cursor: pointer;
    border: 1px solid black;
    opacity: 0.7;

    &:hover {
      transform: scale(1.1);
    }

    &_mode_active {
      border: 1px solid #f5f5f5;
      opacity: 1;
      color: #f5f5f5;
      img {
        filter: invert(100%) sepia(16%) saturate(92%) hue-rotate(298deg) brightness(119%)
          contrast(92%);
      }
    }

    &:first-of-type {
      background-color: #20bae9;
    }
    &:last-of-type {
      background-color: #0dff6a;
    }

    img {
      width: 16px;
    }
  }
}
